.header {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

// .cardsContainer {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 1rem;
//   align-items: center;
//   justify-content: center;
// }

.cardsContainer {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  padding: 3rem;
  margin: 0 auto;

  //desktop
  grid-template-columns: repeat(7, 1fr); // 7 columnas

  // tablet
  @media (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); // 4col
  }

  // movil
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // 2col
  }
}

.results {
  font-size: 12px;
  color: black;
  margin: 0 3rem;
}

.favTitle {
  padding: 0 3rem;
  margin: 0;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 32px;
}

.favText {
  padding: 3rem;
}
